*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}

.Register,.LoginPage{
  background-color: #7AC560;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerContainer,.LoginContainer{
  background-color:#FFFFFF;
  width: 30vw;
  padding: 2vw 1vw;
}

.registerContainer h3,.LoginContainer>h3{
  text-align: center;
  font-size: 2vw;
  font-weight: 900;
}

.Register form,.LoginPage form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1vw;
}

.Register form input,.LoginPage form input{
  padding: 1vw 2vw;
  border: none;
  outline: none;
  background-color: #F2F2F2;
}

.ReButton{
  display: flex;
  justify-content: space-between;
}
.LoginPage form button, .Register form button{
  color: white;
  padding: 1vw 2vw;
  border: none;
  outline: none;
  background-color: #00B141;
}
.HomePage{
  width: 100%;
  min-height: 100vh;
  background-color:#F2F2F2;
}
.HomePage nav{
  user-select: none;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 1vw 2vw;
}
.HomePage nav > *{
  cursor: pointer;
}
.HomePage nav img{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.HomePage .main-box{
  width: 100%;
  min-height: calc(100vh - 10vh );
  display: flex;
}
.main-box .left{
  width: 30%;
  height: calc(100vh - 10vh);
  overflow-y: scroll;
  user-select: none;
}

.main-box .left::-webkit-scrollbar{
  display: none;
}
.main-box .left .user{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0.4vw 1vw;
  background-color: #dddddd54;
  
}
.left .user>*{
  cursor: pointer;
}
.left .user img{
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  user-select: none;
  border-radius: 50%;
}
.left .user h3{
  margin-left: 1vw;
  text-transform: capitalize;
  font-size: 1.5vw;
}
.main-box .right{
  overflow-y: auto;
  width: 70%;
 
}

.HomePage .main-box .right .messages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5vw 1vw;
}
.HomePage .main-box .right .messages>*{
  cursor: pointer;
  user-select: none;
}
.HomePage .main-box .right .messages > img{
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  object-fit: cover;
}

